*{

    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow: auto;
    background-color: black;
    color: white;
}


.main{
    height: 100vh;
    display: flex;
    padding: 0.7rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;  
    /* 1rem=16px */

    margin-right: 0.5rem;
}

.main-content{
    padding: 0rem 1.5rem;
    background-color: #121212;
    flex: 1; /*to cover the remaining space after sidebar until musicplayer conten needs reqd space*/
    border-radius: 1rem;  
}

.musicplayer{
    position: fixed;
background-color:  black;
bottom: 0;
width: 100%;
height: 86px;

}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: #121212;
    height: 100px;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem ;
   
}

.nav-options{
    
    
    background-color: #121212;
    line-height: 2.5rem;
opacity: 0.7;
    
}

.nav-options i{
    font-size: 1.25rem;
}

.nav-options a{
    margin-left: 1rem;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
}

.nav-options:hover{
    opacity: 1;
}

.options{
    height: 3rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.75rem;
}

.lib-options{
    font-size: 1rem;
    padding: 0.25rem .5rem;
}
.icons{
    display: flex;
}
 .icons i{
    margin-right: 1rem;
    width: 2rem;
    
    font-size: 1.2rem;
    opacity: 0.7;
}

.icons i:hover{
    opacity: 1;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: .5rem;
    padding: 0.5rem 0.75rem ;

}


.box{
    margin: 0.75rem 0rem;
    margin-bottom: 1.75rem;
    padding: .5rem 1rem;
    height: 8rem;
   
    background-color:#232323;
    border-radius: 0.75rem;
   
    
}
.box-p1{
    font-weight: 500;
    font-size: 1rem;

    background-color:#232323;

   margin-bottom: 20px;


}

.box-p2{

    font-size: 0.85rem;
    
    background-color:#232323;
    
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 30px;

}
.badge{

    height: 2rem;
    width: fit-content;
background-color: white;
color: black;
border-radius: 100px;
padding: 0.25rem 1rem;

font-size: 14px;
font-weight: 600;
border: 0px;
margin-top: .5rem;


}

.box button:hover{
    font-size: 14.8px;
}

.sticky-nav{
    z-index: 10;
    background-color: #121212;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-img{
    background-color: #121212;
}


.nav-img img{
margin: 0rem 1rem;
height: 1.25rem;
width: 1.25rem;


}

.nav-btn .btn1{
    opacity: 0.7;
    background-color: #121212;
    
    
}

.nav-btn{
    background-color: #121212;
}

.nav-btn .btn1:hover{
    opacity: 1;
    font-size: 1rem;
}
.nav-btn .btn2:hover{
    font-size: 1rem;
    

}

h2{
    margin-top: 1rem;
    margin-left: 1rem;
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: .5rem ;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-container{
    flex-wrap: wrap;
    display: flex;
    
}
.card-img{
    width: 100%;
    
    border-radius: .5rem ;
}

.card-title{
    background-color: #232323;
    font-weight: 600;
}

.card-desc{
    background-color: #232323;
    font-size: 0.85rem;
    opacity: 0.5;
}


.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.7;
}

.musicplayer{
    display: flex;
}

.album{
    width: 25%;
}


.player{
    width: 50%;

}

.controls{
    width: 25%;
}




